[user]
  email = {{ default "janpeter.dhalle@gmail.com" (get .user "email") }}
  name  = {{ default "Jan-Peter Dhallé" (get .user "fullName") }}
[init]
  defaultBranch = {{ default "main" (get .git "defaultBranch") }}

[credential "http://jpserv:3000"]
	provider = generic

[alias]
	st = status --short
	sw = switch
	last = switch -
	main = switch main
  # difftastic
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff
  hdiff = "-c core.pager=\"hunk pager\" diff"
  hshow = "-c core.pager=\"hunk pager\" show"

  # project forensics
  hotspots = "!f(){ git log --format=format: --name-only --since=\"${1:-1 year ago}\" | grep . | sort | uniq -c | sort -nr | head -20; }; f"
  builders = shortlog -sn --no-merges
  bughotspots = "!f(){ git log -i -E --grep='fix|bug|broken' --name-only --format='' --since=\"${1:-1 year ago}\" | grep . | sort | uniq -c | sort -nr | head -20; }; f"
  pulse = "!git log --format='%ad' --date=format:'%Y-%m' | sort | uniq -c"
  incidents = "!f(){ git log --oneline --since=\"${1:-1 year ago}\" | grep -iE 'revert|hotfix|emergency|rollback'; }; f"

[commit]
  verbose = true

[branch]
  sort = -committerdate

[tag]
  sort = -version:refname

[push]
  autoSetupRemote = true

[maintenance]
  auto = true
  strategy = incremental

[status]
  branch = true

[rerere]
  enabled = true
  autoUpdate = true

[help]
  autocorrect = prompt

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    hyperlinks = true

[merge]
    conflictstyle = zdiff3

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[coderabbit]
	machineId = cli/f21a7815154540ca91a5ebd5d2cf2e80

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

# vim:ft=gitconfig
