alias doom="~/.config/emacs/bin/doom"
alias la="ls -a"
alias ll="ls -l"
alias l="ls -al"
alias lL="ls -al"
alias ka="killall"
alias g="git"
alias YT="ytfzf -t --thumbnail-quality=maxres -T swayimg-hyprland --notify-playing --preview-side=left"
alias sdn="shutdown -h now"
alias e="setsid -f emacsclient -c -a 'emacs'"
alias v="$EDITOR"
alias p="pacman"
alias browser-sync='browser-sync start --server --files "**/*"'
alias mpv-empty="mpv --force-window"
alias merge-pdf="qpdf --empty --pages *.pdf -- "
alias jpserv-vnc="ssh jp@jpserv \"x11vnc -repeat -ncache 10 -display :0\""
alias bc="bc -ql"
alias yt="yt-dlp --sponsorblock-mark all --sponsorblock-remove sponsor,interaction,selfpromo,outro --write-subs --write-auto-subs --embed-subs --sub-langs 'en,nl' --compat-options no-keep-subs --embed-metadata -o '%(title)s.%(ext)s' -i"
alias yta="yt -x -f bestaudio/best"
alias ffmpeg="ffmpeg -hide_banner"
alias hugoserver="hugo server --noHTTPCache"
alias ls="ls -hN --color=auto --group-directories-first --hyperlink=auto"
alias grep="grep --color=auto"
alias diff="diff --color=auto"
alias ccat="highlight --out-format=ansi"
alias ip="ip -color=auto"
alias cac="cd $HOME/.cache"
alias cf="cd $HOME/.config"
alias cflf="cd $HOME/.config/lf"
alias cfmpv="cd $HOME/.config/mpv"
alias d="cd $HOME/Downloads"
alias co="cd $HOME/Code"
alias re="cd $HOME/Code/repos"
alias dot="cd $HOME/dot"
alias scr="cd $HOME/Code/scripts"
alias D="cd $HOME/Documents"
alias s="cd $HOME/Sync"
alias S="cd $HOME/Pictures/Screenshots"
alias dt="cd $HOME/.local/share"
alias rr="cd $HOME/.local/src"
# alias h="cd $HOME"
alias m="cd $HOME/Music"
alias mn="cd /mnt"
alias med="cd /media"
alias pp="cd $HOME/Pictures/"
alias wp="cd $HOME/Pictures/Pictures/wallpapers"
alias sc="cd $HOME/.local/bin"
alias vv="cd $HOME/Videos"
alias hom="cd /srv/http/homepage"
alias http="cd /srv/http"
alias sch="cd $HOME/school"
alias sch_jav="cd $HOME/school/ITF1/SEM2/Application\ Development\ In\ Java"
alias sch_sql="cd $HOME/school/ITF1/SEM2/Data\ Analysis\ with\ SQL"
alias sch_eng="cd $HOME/school/ITF1/SEM2/English"
alias sch_iot="cd $HOME/school/ITF1/SEM2/IoTEssentials"
alias sch_sec="cd $HOME/school/ITF1/SEM2/Security\ Essentials"
alias sch_prof="cd $HOME/school/ITF1/SEM2/Webdesign\ Advanced"
alias sch_win="cd $HOME/school/ITF1/SEM2/Windows\ System\ Administration"
alias sch_net="cd $HOME/school/ITF1/SEM2/Switching,\ Routing\ and\ Wireless\ Essentials"
alias H1="cd /data/harddrive"
alias H2="cd /data/harddrive2"
alias trash="cd $HOME/.local/share/Trash/files"
alias kssh="kitty +kitten ssh"
alias lg="lazygit"
alias v.="nvim ."
alias vim="nvim"
alias vi="nvim"
alias tmuxa="tmux attach"
alias node_version="source /usr/share/nvm/init-nvm.sh"
alias server="if [[ -z $KITTY_WINDOW_ID ]]; then ssh jp@192.168.1.138; else kitten ssh jp@192.168.1.138; fi"
alias gserver="ssh git@192.168.1.138"
alias h="$HOME/.local/bin/wrappedhl"
alias G="nvim -c Neogit"
alias neofetch=fastfetch
alias cm=chezmoi
alias lzd=lazydocker
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
alias bat=batcat
alias fd=fdfind
{{ end }}

# vim:ft=zsh
